:root {
    --primary-color: #0071e3;
    --secondary-color: #06992b;
    --third-color: #f44336;
    --font-color: #333;
    --background-color: #f4f4f4;
    --white-color: #fff;
    --font-family: Arial, sans-serif;
    --font-normal: 16px;
    --font-larger: 1.5rem;
    --font-largest: 2rem;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--font-color);
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--font-largest);
}

.h2 {
    margin: 15px 0;
    font-size: var(--font-larger);
}

.text {
    text-align: center;
    font-size: var(--font-normal);
    margin-bottom: 5px;
}

.fa {
    padding-right: 5px;
    font-size: var(--font-normal);
}

.primary-btn, .secondary-btn, .third-btn {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    color: white;
    align-items: center;
    justify-content: center;
}
.primary-btn {
    background-color: var(--primary-color);
}

.secondary-btn {
    background-color: var(--secondary-color);
}

.third-btn {
    background-color: var(--third-color);
}

.delete-btn, .edit-btn {
    margin-right: 10px;
}

.primary-btn:hover, .secondary-btn:hover, .third-btn:hover {
    opacity: 90%;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--third-color);
    text-align: right;
    padding: 5px 0 12px 5px;
    font-size: var(--font-larger);
}

.close-form-dialog, .delete-confirm-dialog {
    padding: 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
    width: 90%;
    max-width: 250px;
    margin: auto;
}

.dialog-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.add-habit, .habit-display {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.habit-form {
    background: var(--white-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.habit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: var(--font-bold);
}

.habit-form input[type="text"],
.habit-form select, .habit-form input[type="time"], .habit-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.custom-day {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
}

/* Hide Custom Days */
.hidden {
    display: none;
}


/* Habit List Item */
.habit-list {
    display: block;
    width: 100%;
    max-width: 600px;
}

.habit-card {
    background: var(--white-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.habit-card h3 {
    font-size: var(--font-larger);
}

